BudgeteerWeb/Backup/BudgeteerWeb/Service References/BudgeteerService/Budgeteer7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BudgeteerObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BudgeteerObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Subcategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SinkingFund" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubcategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subcategory" nillable="true" type="tns:Subcategory" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubcategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="TransactionFilterCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubcategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="TaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDay" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionMonth" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionYear" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionFilterCriteria" nillable="true" type="tns:TransactionFilterCriteria" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfApplicationSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationSetting" nillable="true" type="tns:ApplicationSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationSetting" nillable="true" type="tns:ArrayOfApplicationSetting" />
  <xs:complexType name="ApplicationSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Setting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationSetting" nillable="true" type="tns:ApplicationSetting" />
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:long" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
  <xs:complexType name="ArrayOfBankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccount" nillable="true" type="tns:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccount" nillable="true" type="tns:ArrayOfBankAccount" />
  <xs:complexType name="Budget">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BudgetID" type="xs:long" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubcategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Budget" nillable="true" type="tns:Budget" />
  <xs:complexType name="ArrayOfBudget">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Budget" nillable="true" type="tns:Budget" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBudget" nillable="true" type="tns:ArrayOfBudget" />
  <xs:complexType name="ArrayOfUtilizedDollars">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtilizedDollars" nillable="true" type="tns:UtilizedDollars" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilizedDollars" nillable="true" type="tns:ArrayOfUtilizedDollars" />
  <xs:complexType name="UtilizedDollars">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Available" type="xs:decimal" />
      <xs:element minOccurs="0" name="Budget" type="xs:decimal" />
      <xs:element minOccurs="0" name="BudgetDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="SubcategoryID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilizedDollars" nillable="true" type="tns:UtilizedDollars" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfSubcategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subcategory" nillable="true" type="tns:Subcategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubcategory" nillable="true" type="tns:ArrayOfSubcategory" />
</xs:schema>