BudgeteerWeb/Backup/BudgeteerWeb/Service References/BudgeteerService/Budgeteer5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tolkien:8000/Budgeteer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BudgeteerObjects" />
  <xs:import schemaLocation="http://tolkien:8000/Budgeteer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BudgeteerService" />
  <xs:element name="UpdateSubcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="subcategory" nillable="true" type="q1:Subcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSubcategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subcategoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubcategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstTransactionYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstTransactionYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFirstTransactionYearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetTransactionResult" nillable="true" type="q2:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q3:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetTransactionsResult" nillable="true" type="q4:ArrayOfTransaction" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q5:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsWithCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="searchCriteria" nillable="true" type="q6:TransactionFilterCriteria" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q7:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsWithCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetTransactionsWithCriteriaResult" nillable="true" type="q8:ArrayOfTransaction" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q9:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="transaction" nillable="true" type="q10:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTransactionResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="transaction" nillable="true" type="q11:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetUserResult" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserEmailAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserEmailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserEmailAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetApplicationSettingsResult" nillable="true" type="q13:ArrayOfApplicationSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setting" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultVal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationSettingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setting" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetApplicationSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetApplicationSettingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetBankAccountResult" nillable="true" type="q14:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetBankAccountsResult" nillable="true" type="q15:ArrayOfBankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedBankAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balanceTotal" type="xs:decimal" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q16:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetPagedBankAccountsResult" nillable="true" type="q17:ArrayOfBankAccount" />
        <xs:element minOccurs="0" name="balanceTotal" type="xs:decimal" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q18:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveBankAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveBankAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetActiveBankAccountsResult" nillable="true" type="q19:ArrayOfBankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="account" nillable="true" type="q20:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBankAccountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="account" nillable="true" type="q21:BankAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBankAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBankAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="budgetID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetBudgetResult" nillable="true" type="q22:Budget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q23:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetBudgetsResult" nillable="true" type="q24:ArrayOfBudget" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q25:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetsWithCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="subcategoryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="budgetTotal" type="xs:decimal" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q26:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetsWithCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetBudgetsWithCriteriaResult" nillable="true" type="q27:ArrayOfBudget" />
        <xs:element minOccurs="0" name="budgetTotal" type="xs:decimal" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q28:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetFirstYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetFirstYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBudgetFirstYearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBudget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="budget" nillable="true" type="q29:Budget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBudgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBudgetResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyBudgets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyBudgetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyBudgetsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBudget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="budget" nillable="true" type="q30:Budget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBudgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBudgetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBudget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="budgetID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBudgetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBudgetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizedDollars">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q31:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizedDollarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetUtilizedDollarsResult" nillable="true" type="q32:ArrayOfUtilizedDollars" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q33:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizedDollarsWithCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="budgetDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="subcategoryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalUtilized" type="xs:decimal" />
        <xs:element minOccurs="0" name="totalBudget" type="xs:decimal" />
        <xs:element minOccurs="0" name="totalAvailableDollars" type="xs:decimal" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q34:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizedDollarsWithCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetUtilizedDollarsWithCriteriaResult" nillable="true" type="q35:ArrayOfUtilizedDollars" />
        <xs:element minOccurs="0" name="totalUtilized" type="xs:decimal" />
        <xs:element minOccurs="0" name="totalBudget" type="xs:decimal" />
        <xs:element minOccurs="0" name="totalAvailableDollars" type="xs:decimal" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BudgeteerService" minOccurs="0" name="paginator" nillable="true" type="q36:Paginator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetCategoryResult" nillable="true" type="q37:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetActiveCategoriesResult" nillable="true" type="q38:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q39:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="category" nillable="true" type="q40:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoryResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="category" nillable="true" type="q41:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subcategoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetSubcategoryResult" nillable="true" type="q42:Subcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubcategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubcategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetActiveSubcategoriesResult" nillable="true" type="q43:ArrayOfSubcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetSubcategoriesResult" nillable="true" type="q44:ArrayOfSubcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoriesByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoriesByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetSubcategoriesByCategoryIDResult" nillable="true" type="q45:ArrayOfSubcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubcategoriesByCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubcategoriesByCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="GetActiveSubcategoriesByCategoryIDResult" nillable="true" type="q46:ArrayOfSubcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BudgeteerObjects" minOccurs="0" name="subcategory" nillable="true" type="q47:Subcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubcategoryResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>