BudgeteerWeb/Backup/BudgeteerWeb/Service References/UnauthenticatedService/BudgeteerUnauthenticatedServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BudgeteerObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BudgeteerObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserSecurityQuestionAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSecurityQuestionAnswer" nillable="true" type="tns:UserSecurityQuestionAnswer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserSecurityQuestionAnswer" nillable="true" type="tns:ArrayOfUserSecurityQuestionAnswer" />
  <xs:complexType name="UserSecurityQuestionAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSecurityQuestionAnswer" nillable="true" type="tns:UserSecurityQuestionAnswer" />
  <xs:complexType name="ArrayOfSecurityQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityQuestion" nillable="true" type="tns:SecurityQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityQuestion" nillable="true" type="tns:ArrayOfSecurityQuestion" />
  <xs:complexType name="SecurityQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityQuestionID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityQuestion" nillable="true" type="tns:SecurityQuestion" />
</xs:schema>