BudgeteerWeb/Backup/BudgeteerWeb/Service References/UnauthenticatedService/BudgeteerUnauthenticatedServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="BudgeteerUnauthenticatedServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tolkien:8000/BudgeteerUnauthenticatedServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tolkien:8000/BudgeteerUnauthenticatedServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tolkien:8000/BudgeteerUnauthenticatedServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BudgeteerObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_GetAvailableSecurityQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_GetAvailableSecurityQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_ActivateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateUser" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_ActivateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_GetUserSecurityQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_GetUserSecurityQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_ValidateSecurityQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_ValidateSecurityQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_GetUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="IBudgeteerUnauthenticatedServices_GetUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IBudgeteerUnauthenticatedServices">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/AddUser" message="tns:IBudgeteerUnauthenticatedServices_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/AddUserResponse" message="tns:IBudgeteerUnauthenticatedServices_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSecurityQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetAvailableSecurityQuestions" message="tns:IBudgeteerUnauthenticatedServices_GetAvailableSecurityQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetAvailableSecurityQuestionsResponse" message="tns:IBudgeteerUnauthenticatedServices_GetAvailableSecurityQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/ActivateUser" message="tns:IBudgeteerUnauthenticatedServices_ActivateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/ActivateUserResponse" message="tns:IBudgeteerUnauthenticatedServices_ActivateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetUserSecurityQuestions" message="tns:IBudgeteerUnauthenticatedServices_GetUserSecurityQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetUserSecurityQuestionsResponse" message="tns:IBudgeteerUnauthenticatedServices_GetUserSecurityQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/ValidateSecurityQuestions" message="tns:IBudgeteerUnauthenticatedServices_ValidateSecurityQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/ValidateSecurityQuestionsResponse" message="tns:IBudgeteerUnauthenticatedServices_ValidateSecurityQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/ResetPassword" message="tns:IBudgeteerUnauthenticatedServices_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/ResetPasswordResponse" message="tns:IBudgeteerUnauthenticatedServices_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetUserName" message="tns:IBudgeteerUnauthenticatedServices_GetUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetUserNameResponse" message="tns:IBudgeteerUnauthenticatedServices_GetUserName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBudgeteerUnauthenticatedServices" type="tns:IBudgeteerUnauthenticatedServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSecurityQuestions">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetAvailableSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/ActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSecurityQuestions">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetUserSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityQuestions">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/ValidateSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/IBudgeteerUnauthenticatedServices/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BudgeteerUnauthenticatedServices">
    <wsdl:port name="BasicHttpBinding_IBudgeteerUnauthenticatedServices" binding="tns:BasicHttpBinding_IBudgeteerUnauthenticatedServices">
      <soap:address location="http://tolkien:8000/BudgeteerUnauthenticatedServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>