BudgeteerWeb/BudgeteerWeb/Service References/BudgeteerService/BudgeteerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BudgeteerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BudgeteerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paginator">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstPage" type="xs:int" />
      <xs:element minOccurs="0" name="LastPage" type="xs:int" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paginator" nillable="true" type="tns:Paginator" />
</xs:schema>